@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700&display=swap');

* {
  font-family: Asap, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: white;
  padding: 20px;
}

body {
  background-color: #24272E
}

header > h1 {
  color: #25272E;
  text-align: center;
}
